<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bryan.bike_retnalapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.example.bryan.bike_retnalapp.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register Page"
            >
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="Main Menu"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:label="Choose a Location"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainCampusActivity"
            android:label="Main Campus Bikes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CollegeCampusActivity"
            android:label="College Street Campus"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".UpdateStatusActivity"
            android:label="updatagemanifestname"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UpdateStatusActivity"
            android:label="updatagemanifestname"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".BikeAdapter"
            android:label="@string/title_activity_bike_adapter"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

    </application>

</manifest>
